@import "css/bootstrap.min.css"
@import "css/style.css"

.navbar-brand img
  height: 70px
  padding: 10px
  display: block

.tech-logo
  width: 120px
  height: 120px
  padding: 20px
  margin: 0 auto

.constellation
  background-image: linear-gradient(to right, #57c9f3 0%, #68ece6 100%)
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: -1
